.rounded-rect-button-container {
  height: 5.5vh;
  width: 5.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: var(--primary-linear);
  border-radius: 10px;
  margin-bottom: 3px;
}

.rounded-rect-button-text {
  font-size: 1.1vh;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  color: var(--primary);
}
