

:root {
  --primary: #003f35;
  --primary-linear: linear-gradient(137.66deg, #003f35 13.27%, #00bf25 100%);
  --primary-light: #00bf25;
  --dark: #0c1522;
  --gray-1: #e3e1e3;
  --gray-2: #888888;
  --black-1: #3e3e3e;
  --black-2: #1f1f21;
  --background: #dffcce;
}

body {
  margin: 0;
  font-family: "Cerebri Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0;
  padding: 0;
  max-width: 25em;
}
